/.idea/
/project/project/target/
/project/target/
/target/
/target/
/target/streams/compile/
/target/scala-2.12/
/target/universal/
/target/
/target/
/target/
/target/
/conf/application.conf
/test/
/apidoc/
/web/logs/access.log
/logs/application.log
/.bsp/sbt.json
